html {
  box-sizing: border-box;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 230px;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1,
h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}

header {
  background: #101820;
  color: white;
}

.projects {
  color: white;
}
.projects a {
  color: white;
}
.projects .btn {
  color: #f7fff7;
  background: #2196f3;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgb(255, 255, 255);
  color : black;
}
.project-item {
  overflow: hidden;
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}

.project-item h3 {
  margin-top: 0;
}

.code_format {
  padding-bottom: 10px;
  color: white;
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

body .container .card {
  position: relative;
  min-width: 250px;
  height: 350px;
  box-shadow: inset 5px 5px 5px rgba(255, 8, 8, 0.2),
    inset -5px -5px 15px rgba(253, 51, 51, 0.1),
    5px 5px 15px rgba(236, 46, 46, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 20px;
  transition: 0.5s;
}

body .container .card:nth-child(1) .box .content a {
  background: #2196f3;
}
body .container .card:nth-child(2) .box .content a {
  background: #2196f3;
}
body .container .card:nth-child(3) .box .content a {
  background: #2196f3;
}
body .container .card:nth-child(4) .box .content a {
  background: #2196f3;
}

body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: rgb(61, 59, 59);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-30px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
  padding: 5px;
  text-align: center;
}

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  /* color: rgba(255, 255, 255, 0.1); */
  color : white;
}

body .container .card .box .content h3 {
  font-size: 1.3rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content img {
  width: 200px;
  height: 150px;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

.education {
  padding-bottom: 50px;
}
.edu-item {
  padding-bottom: 10px;
}
.education p {
  width: 60%;
}
.item-details {
  color: white;
}

footer {
  background: #101820;
  color: white;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

@media screen and (min-width: 750px) {
  header,
  footer {
    text-align: center;
  }
  .column {
    float: left;
  }
  .left {
    width: 32%;
  }
  .right {
    width: 68%;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
  /*
    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    } */
}
@media screen and (max-width: 749px) {
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 15px;
  }
  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
}
